
@media screen and (min-width:1050px){
  .container-main{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    max-height: 100vh;
  }  
  .emoji-title, 
  .form-title {
    padding: 0 5rem 1.5rem;
  }
  .div-form{
    height: 80vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  
  }

}
@media screen and (max-width:1025px){
  .div-form{
    height: 55vh;
  }
  .emoji-title ul{
    margin-left: 2rem;
  }
  h3{
    margin: 0 2rem;
    text-align: center;
  }
  
}


.container-main{
  max-height: 100vh;
}
  
.container-form{
  display: flex;
  flex: 1;
  flex-direction: column;
  /* height: 100vh; */
}

.div-form{
  /* height: 80vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.input-form{
  width: 60%;
  border: none;
  outline: none;
  border-bottom: 2px solid;
  font-size: larger;
  margin-bottom: 2rem;
}

.div-form input:focus::placeholder{
  background-color: transparent;
}


.form-title{
  /* max-height: 20vh; */
  text-align: right;
  font-size: 7vh;
  
}

.emoji-title{
  color: azure;
  font-size: 7vh;
}

h1,ul{
  margin: 0;
  padding: 0;
}


.container-emoji{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: black;
}




li{
  list-style: none;
  display: inline-block;
  cursor: pointer;
  margin: 1rem 1rem 0 0;
  font-size: 1.5rem;

}

li:active , li:hover{
  border-radius: 3px;
  background-color:#1f1f1f;
  padding: .3rem;
  transition: .3s ease-in-out;
}




































